.basketPizza {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;

  .close {
    max-width: 25px;
    max-height: 20px;
    position: absolute;
    border: none;
    background-color: transparent;
    top: 0;
    padding: 10px;
    right: 0;
    align-items: center;
    justify-content: center;
    display: block;


    &::after {
      top: 0;
      left: 10px;
      transform: rotate(45deg);
      content: "";
      position: absolute;
      cursor: pointer;
      height: 100%;
      width: 2px;
      background-color: #000000;
    }

    &::before {
      content: "";
      top: 0;
      left: 10px;
      transform: rotate(-45deg);
      position: absolute;
      cursor: pointer;
      height: 100%;
      width: 2px;
      background-color: #000000;
    }
  }


  .header {
    display: flex;
    align-items: center;
    width: 400px;

    .imgPizza {
      max-height: 100px;
      object-fit: cover;
      margin-right: 20px;
    }

    .title {
      color: #21722e;
      font-weight: 700;
      margin: 0 0 5px 0;
      font-size: 20px;
    }

    .subtitle {
      font-weight: 500;
      margin: 0;
      font-size: 16px;
    }

  }

  .priceContainer {
    text-align: center;

    .price {
      margin: 0;
    }

    .priceTitle {
      font-weight: 700;
      font-size: 20px;
      margin: 0 0 5px 0;
    }
  }

  .footer {
    .footerTitle {
      font-weight: 700;
      font-size: 18px;
      margin: 0 0 5px 0;
      width: 100%;
    }

    .footerSubtitle {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .button {
      padding: 3px 7px;
      font-size: 20px;
      font-weight: 700;
      color: #21722e;
      border-radius: 5px;
      background-color: inherit;
      border: 1px solid #21722e;
    }


    .sum {
      font-weight: 700;
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .basketPizza {
    display: flex;
    flex-direction: column;
    height: inherit;
    margin-bottom: 30px;

    .header {
      width: 100%;
      margin-bottom: 20px;
    }

    .priceContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .footer {
      width: 100%;
      display: flex;

      .footerSubtitle {
        width: 40%;
        align-items: center;
      }
    }
  }
}

