.pizza {
  display: block;
  max-width: 300px;
  max-height: 500px;
  margin-bottom: 40px;

  .img {
    display: block;
    width: 100%;
  }

  .main {
    margin-bottom: 30px;

    .title {
      font-size: 22px;
      font-weight: 500;
      align-items: center;
    }

    .subtitle {
      color: rgb(92, 99, 112);
      font-size: 16px;
      max-width: 100%;
      height: 55px;
      overflow: hidden;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .price {
    font-weight: 600;
    font-size: 20px;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1400px) {
  .pizza {
    max-width: 270px;
  }
}


@media screen and (min-width: 480px) and (max-width: 767px) {
  .pizza {
    max-width: 80%;
    max-height: inherit;
  }
}

@media screen and (min-width: 360px) and (max-width: 479px) {
  .pizza {
    max-width: 100%;
    max-height: inherit;
  }
}
