body {
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

}

button[disabled] {
  opacity: 0.2;
}

button[disabled]:hover {
  opacity: 0.2;
}

